.deck{
    display: inline-grid;
}

.card{
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30vw;
    text-align: center;
}

.card:hover{
    box-shadow: 0.5 0.5em 1em rgba(0,0,0,0.2);
    background-color: red;
}

.cardContainer {
    padding: 1em 2em;
}

#button1 {
    margin: 0 0 0 1%;
}

.head{
    text-align: center;
}