<div class="head">
  <h1>Public Playlist Library</h1>
  <h2>All Playlists  <i mat-icon class="material-icons" routerLink="/playlist/privateindex">check_box</i></h2>
  <div class="row1">
    <a class="buttons" mat-raised-button (click)="openPlaylistCreate()">Create New Playlist</a>
    <a class="buttons" id="button1" mat-raised-button (click)="openSongToPlaylistAssignment()">Assign Song to Playlist</a>
  </div>
</div>
<hr>
<div class="deck">
  <div class="card" *ngFor="let playlist of playlists">
    <div class="cardContainer" routerLink="/playlist/detail/{{playlist.playlistEntityId}}">
      <h1>{{playlist.playlistName}}</h1>
    </div>
  </div>
</div>