<div class="head">
  <h1>Playlist Index</h1>
  <div class="row">
    <a class="buttons" mat-raised-button routerLink="/newplaylist/create">Create New Playlist</a>
    <a class="buttons" id="button1" mat-raised-button routerLink="/playlist/assign">Assign Song to Playlist</a>
  </div>
</div>
<hr>
<div class="deck">
  <div class="card" *ngFor="let playlist of playlists">
    <div class="cardContainer" routerLink="/playlist/detail/{{playlist.playlistEntityId}}">
      <h1>{{playlist.playlistName}}</h1>
      <h3>Playlist Id: {{playlist.playlistEntityId}}</h3>
      <h3>Owner Id: {{playlist.ownerId}}</h3>
      <i class="material-icons" routerLink="/newplaylist/delete/{{playlist.playlistEntityId}}">delete</i>
      <i mat-icon class="material-icons" routerLink="/newplaylist/edit/{{playlist.playlistEntityId}}">edit</i>
      <i class="material-icons" routerLink="/playlist/delete/{{playlist.playlistEntityId}}">delete</i>
    </div>
  </div>
</div>