.sidenav-container {
  height: 100%;
}
.home {
  color: black;
  font-family: 'Pirata One', cursive;
}
.sidenav {
  width: 12vw;
  box-shadow: 3px 0 6px black;
  background: #50473D;
  color: white;
}
.title {
  padding-left: 5%;
  font-size: 1.5vw;

}
.sidenav .mat-toolbar {
  background: inherit;
}

.sidenav a{
  font-family: 'Pirata One', cursive;
  font-size: 1.2vw;
  color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-sidenav-content {
  background: url('../../../assets/images/redBeardBeatsWallpaper.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.bottomNavBar {
  position: fixed;
  bottom: 0;
}

.topNavBar {
  margin-top: 8vw;
  text-align: center;
}

img {
  height: 10vw;
  width: 10vw;
  margin-top: 10vw;
}