<div>
  <h1>Edit Playlist</h1>
</div>
<hr>

<div *ngIf="playlist">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="editPlaylistForm">
    <div>
      <div hidden>
        <mat-form-field>
          <input matInput placeholder="PlaylistEntityId" formControlName="PlaylistEntityId" type="PlaylistEntityId"
            required [value]="playlist.playlistEntityId" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Playlist Name" formControlName="PlaylistName" type="PlaylistName" required
            [value]="playlist.playlistName" />
        </mat-form-field>
      </div>
    </div>
    <button class="buttons" mat-raised-button class="nav-btn" type="submit">Save</button>
  </form>
</div>
<br />
<a mat-button routerLink="/playlist/index">Back to List</a>