<div class="mainContent">
  <mat-toolbar color="primary">
  <span>Red Beard Beats</span>
  <span class="example-fill-remaining-space"></span>
  <button mat-raised-button class="nav-btn" >Register</button>
  <button mat-raised-button class="nav-btn" >Login</button>
</mat-toolbar>

<section class="mainsection">
  <h1 class="text-center">Browse</h1>
  <div class="row">
      <div class="column">
          <a href="sports.html"><p class="thumbnail_align"><img src="Images/UNADJUSTEDNONRAW_thumb_af.jpg"></p></a>
          <h4 class="text-center"></h4>
      </div>
      <div class="column">
              <a href="fitness.html"><p class="thumbnail_align"><img src="Images/UNADJUSTEDNONRAW_thumb_b0.jpg"></p></a>
              <h4 class="text-center"></h4>
          </div>
      <div class="column">
              <a href="social.html"><p class="thumbnail_align"><img src="Images/club.jpg"></p></a>
              <h4 class="text-center"></h4>
      </div>
      <div class="column">
              <a href="outdoors.html"><p class="thumbnail_align"><img src="Images/UNADJUSTEDNONRAW_thumb_ab.jpg"></p></a>
              <h4 class="text-center"></h4>
      </div>
  </div>

  <div class="row">
          <div class="column">
              <a href="gaming.html"><p class="thumbnail_align"><img src="Images/gaming.jpg"></p></a>
              <h4 class="text-center"></h4>
          </div>
          <div class="column">
                  <a href="media.html"><p class="thumbnail_align"><img src=""></p></a>
                  <h4 class="text-center"></h4>
              </div>
          <div class="column">
                  <a href="culture.html"><p class="thumbnail_align"><img src=""></p></a>
                  <h4 class="text-center"></h4>
          </div>
          <div class="column">
                  <a href="food.html"><p class="thumbnail_align"><img src=""></p></a>
                  <h4 class="text-center"></h4>
          </div>
          <div class="column">
                  <a href="crafts.html"><p class="thumbnail_align"><img src=""></p></a>
                  <h4 class="text-center"></h4>
          </div>
      </div>

</section>
</div>
