<body>
    <mat-grid-list cols="2" rowHeight="6:1">
         <mat-grid-tile> <img src="../../../assets/Logo.PNG" alt="" width="15%"> </mat-grid-tile>
            <mat-grid-tile> <p>Ahoy Matey!</p> </mat-grid-tile>
          </mat-grid-list>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </body>
