<mat-toolbar class="head">
        <span>Red Beard Beats</span>
        <span class="example-fill-remaining-space">Welcome Aboard!</span>
</mat-toolbar>
<div class="mainContent">
        <div class="homeBody">
                <h1>Ready To Set Sail?</h1>
                <div>
                        <ng-container *ngFor="let item of items;">
                                <ng-container *carouselItem>
                                        <div class="item">{{item.title}}</div>
                                </ng-container>
                        </ng-container>
                </div>
        </div>
</div>