<div class="create">
  <h1>Song Upload</h1>
</div>
<hr>
<div class="create">
<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="songForm">
  <div>
      <div>
          <mat-form-field>
            <input matInput placeholder="Artist" formControlName="SongArtist" type="SongArtist" required/>
          </mat-form-field>
      </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="SongTitle" type="SongTitle" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Genre" formControlName="SongGenre" type="SongGenre" required/>
      </mat-form-field>
    </div>
    <div>
        <mat-form-field>
          <input matInput placeholder="Length" formControlName="SongLength" type="SongLength" required/>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
          <input matInput placeholder="Album" formControlName="SongAlbum" type="SongAlbum" required/>
        </mat-form-field>
    </div>

    <button type="button" md-button (click)="mp3FileInput.click()">Upload MP3</button>
    <input hidden type="file" #mp3FileInput (change)="onFileChanged($event)">

    </div>
    <button mat-raised-button class="nav-btn" color="accent" type="submit">Done</button>
</form>
<a mat-button routerLink="/song/index">Back to list</a>
</div>