<div class="mainContent">
  <h1>Details</h1>
</div>
<hr>
<div class="mainContent" *ngIf="song">
  <div>
    <label for="">Song Id: </label>
    <span>{{song.songEntityId}}</span>
  </div>
  <div>
    <label for="">Title: </label>
    <span>{{song.songTitle}}</span>
  </div>
  <div>
    <label for="">Artist: </label>
    <span>{{song.songArtist}}</span>
  </div>
  <div>
    <label for="">Album: </label>
    <span>{{song.songAlbum}}</span>
  </div>
  <div>
    <label for="">Genre: </label>
    <span>{{song.songGenre}}</span>
  </div>
  <div>
    <label for="">Length: </label>
    <span>{{song.songLength}}</span>
  </div>

<button mat-button color="accent">Edit</button>
<button mat-button color="primary" routerLink="/song/index">Back to List</button>
</div>