<div class="mainContent">
  <h1>Create a Playlist</h1>
</div>
<hr>

<div class="mainContent">
<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="playlistForm">
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Playlist Name" formControlName="PlaylistName" type="PlaylistName" required />
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Playlist</button>
</form>

<a mat-button routerLink="/playlist/index">Back to List</a>
</div>