<div class="header">
  <h1>Ye Own Song Library</h1>
  <h2>All Songs  <i mat-icon class="material-icons" routerLink="/song/index">check_box_outline_blank</i></h2>
  
  <div class="row1">
    <a class="buttons" mat-raised-button (click)="openSongCreate()">Add New Song</a>
    <a class="buttons" id="button1" mat-raised-button (click)="openSongToPlaylistAssignment()">Assign Song to Playlist</a>
  </div>
</div>
<hr />
<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

    <ng-container matColumnDef="PlaySong">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let song">
        <i mat-icon class="material-icons" (click)="playSong(song)">play_circle_filled</i>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="SongTitle">
      <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
      <mat-cell *matCellDef="let song">{{song.songTitle}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="SongArtist">
      <mat-header-cell *matHeaderCellDef>Artist</mat-header-cell>
      <mat-cell *matCellDef="let song">{{song.songArtist}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="SongAlbum">
      <mat-header-cell *matHeaderCellDef>Album</mat-header-cell>
      <mat-cell *matCellDef="let song">{{song.songAlbum}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="SongGenre">
      <mat-header-cell *matHeaderCellDef>Genre</mat-header-cell>
      <mat-cell *matCellDef="let song">{{song.songGenre}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="SongLength">
      <mat-header-cell *matHeaderCellDef>Length</mat-header-cell>
      <mat-cell *matCellDef="let song">{{song.songLength}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let song">
          <i mat-icon class="material-icons" (click)="openSongUpdate(song.songEntityId)">edit</i>
          <i class="material-icons" (click)="openSongDelete(song.songEntityId)">delete</i>
        </mat-cell>
      </ng-container>

  </mat-table>
</div>