<div class="mainContent">
  <h1>Playlist Content</h1>
  <div class="row1">
    <a class="buttons" id="button1" mat-raised-button (click)="openSongToPlaylistAssignment()"><i mat-icon class="material-icons">add_circle</i></a>
    <button class="buttons" mat-raised-button (click)="openSongToPlaylistAssignment()">Assign song to Playlist</button>
  </div>
</div>

<hr />

<div class="mainContent">
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

    <ng-container matColumnDef="PlaySong">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let song">
        <i mat-icon class="material-icons" (click)="playSong(song)">play_circle_filled</i>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="SongTitle">
      <mat-header-cell *matHeaderCellDef>Song Title</mat-header-cell>
      <mat-cell *matCellDef="let song">{{song.songTitle}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="SongArtist">
      <mat-header-cell *matHeaderCellDef>Artist</mat-header-cell>
      <mat-cell *matCellDef="let song">{{song.songArtist}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="OwnerId">
      <mat-header-cell *matHeaderCellDef>Song Owner</mat-header-cell>
      <mat-cell *matCellDef="let song">{{song.ownerId}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="SongAlbum">
      <mat-header-cell *matHeaderCellDef>Album</mat-header-cell>
      <mat-cell *matCellDef="let song">{{song.songAlbum}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="SongGenre">
      <mat-header-cell *matHeaderCellDef>Genre</mat-header-cell>
      <mat-cell *matCellDef="let song">{{song.songGenre}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="SongLength">
      <mat-header-cell *matHeaderCellDef>Length</mat-header-cell>
      <mat-cell *matCellDef="let song">{{song.songLength}}</mat-cell>
    </ng-container>

    <!-- <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let playlist">
        <a routerLink="/playlist/edit">edit</a>
        <a id="delete" routerLink="/playlist/delete/{{playlist.playlistEntityId}}">delete</a>
        <a id="detail" routerLink="/playlist/detail/{{playlist.playlistEntityId}}">detail</a>
        <i mat-icon class="material-icons">edit</i>
                    <i class="material-icons">delete</i>
      </mat-cell>
    </ng-container> -->

  </mat-table>
</div>