<div class="detail"><h1>Playlist Details</h1></div>
<hr />

<div class="detail" *ngIf="playlist">
  <div>
    <label for="">Owner Id: </label>
    <span>{{song.ownerId}}</span>
  </div>
  <br/>
  <div *ngFor="let song of playlist" (click)="playSong(song)">
    <div>
      <label for="">Song Id: </label>
      <span>{{song.songEntityId}}</span>
    </div>
    <div>
      <label for="">Song Title: </label>
      <span>{{song.songTitle}}</span>
    </div>
    <div>
      <label for="">Song Artist: </label>
      <span>{{song.songArtist}}</span>
    </div>
    <div>
      <label for="">Song Length: </label>
      <span>{{song.songLength}}</span>
    </div>
    <div>
      <label for="">Song Album: </label>
      <span>{{song.songAlbum}}</span>
    </div>
    <div>
      <label for="">Song Genre: </label>
      <span>{{song.songGenre}}</span>
    </div>
    <!-- <div>
      <label for="">Song File: </label>
      <span>{{song.uploadedLink}}</span>
    </div> -->
    <br />
  </div>
</div>
<button mat-button color="accent">Edit</button>
<button mat-button color="primary" routerLink="/playlist/index">Back to List</button>